.header_div{
  background-color: white;
  color: aqua;
}
.header_div img{
    width: 100px;
}

.main_div{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}

.main_div label{
background-color: white;
width: 310px;
padding: 10px;
margin-bottom: 0px;
box-shadow:5px 5px 18px black ;
border: 1px solid;
}

.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow:5px 5px 18px white ;
    border: 1px solid;
}

#CAMERA{
    border: 2px solid white;
    width: 310px;
    height: 310px;
    box-shadow: 5px 5px 18px;
}

#result{
    border: 2px solid white;
    width: 310px;
    height: 310px;
    box-shadow: 5px 5px 18px;
}

.footer_div{
    margin-bottom: 50px;

}

.footer_div h4{
background-color: white;
border-radius: 10px;
padding: 5px;
box-shadow: 5px 5px 18px white;
}

.footer_div img{
    width: 70px;

}

.copy_right_footer{
    position: fixed;
    color:  Blue ;
    bottom: 0px;
    background-color: white;
    width: 100%;
    line-height: 3;
    text-align: center;
}